.is-invalid {
    animation: inavlid ease 2 2s;
}

.invalid-feedback {
    animation: feedback ease 1 2s;
}

@keyframes inavlid {

    0%{
        box-shadow: 0 0 3px red;
    }
    50%{
        box-shadow: 0 0 10px rgb(1, 22, 7);
    }
    100%{
        box-shadow: 0 0 3px red;
    }
    
}

@keyframes feedback {

    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
    
}

@media screen and (max-width: 768px) {
    .layout-cards {
      justify-content: center !important;
    }
  }